:host {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
}

.resume-welcome-card {
  max-width: 400px;
}

p {
  text-align: justify;
}

::ng-deep a > .mat-button-wrapper {
  display: flex;
  align-items: center;
  & > mat-icon {
    margin-left: 2px;
  }
}

button,
a {
  font-size: x-small;
}

.resume-welcome-card {
  margin: 0 10px;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 0 0 8px;
  .mat-card-title {
    font-size: medium;
  }
}
