:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-weight: 300;
}
::ng-deep button.mat-fab {
  margin: 0 5px;
}

.video-container {
  display: grid;
  justify-items: center;
  padding: 0 1rem;
}

video {
  width: min(533px, 100%);
}
