<div>
  <h1>Hi, i'm waiting for someone to code in.</h1>
  <video height="400" width="533" preload="auto" autoplay loop>
    <source
      [src]="'../../..' + resourceRootPath + '/assets/webm/waiting.webm'"
      type="video/webm"
    />
    Your browser does not support HTML video. But the video shows someone flying
    a rocket of paper
  </video>
  <h3>
    You can open some issue
    <a href="https://github.com/jlorenzoC/my-resume/issues" target="_blank"
      >here</a
    >
  </h3>
</div>
<div>
  <button color="primary" mat-fab routerLink="/welcome">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-fab routerLink="/resume-view">
    <mat-icon>dashboard</mat-icon>
  </button>
</div>
