<div class="back-btn">
  <button
    aria-label="Navigate to in-development view"
    color="primary"
    mat-icon-button
    routerLink="/in-development"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Dashboard</h1>
</div>
<mat-grid-list [cols]="COLS" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let section of sections | async"
    [colspan]="section.colspan"
    [rowspan]="section.rowspan"
  >
    <ng-template [cdkPortalOutlet]="section.content"></ng-template>
  </mat-grid-tile>
</mat-grid-list>
