.back-btn {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.emoji {
  font-size: 25px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

menu {
  display: flex;
  list-style-type: none;
}
