<div class="back-btn">
  <button
    aria-label="Navigate to in-development view"
    color="primary"
    mat-icon-button
    routerLink="/in-development"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="emoji">{{ happyEmoji | async }}</span>
</div>

<mat-toolbar color="primary" role="heading">
  <span>Javier's</span>

  <button mat-icon-button *ngIf="isSmallViewActive | async; else menuOfButtons">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #menuOfButtons>
    <menu role="menu">
      <li><button mat-button>Sumary</button></li>
      <li><button mat-button>Training and Experience</button></li>
      <li><button mat-button>Abilities</button></li>
    </menu>
  </ng-template>
</mat-toolbar>

<mat-grid-list [cols]="COLS" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let section of sections | async"
    [colspan]="section.colspan"
    [rowspan]="section.rowspan"
  >
    <ng-template [cdkPortalOutlet]="section.content"></ng-template>
  </mat-grid-tile>
</mat-grid-list>
